
/* buy now button */
.buy{

    font-size: 1rem;
    padding: 0.8rem;
    margin: 1rem;
    width: 130px;
     font-weight: 400;
      text-transform: uppercase;
    transform: skew(-10deg);
    border-radius: 17px;
    
    border: none;
    }
    .buy:hover{
        box-shadow: 10px 5px 5px #9EC12F;
        transition: all 0.1s linear;
        border-radius: 20px;
    
    }