footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  position:absolute;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {                                              
  width: 30%;
  text-align: center;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section p {
  color: #888;
  margin-bottom: 20px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  font-size: 18px;
  margin-right: 10px;
  color: #888;
}

.social-icons a:hover {
  color: #333;
}

.copyright {
  background-color: #333;
  color: #fff;
}
