.menu-headline {
  font-size: 2rem;
  margin-top: 3rem;
margin-bottom: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-item-long-card-container {
  max-width: 80vw;
}
.menu-item-long-card {
  
  color: white;

  background-color: #8d6393;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.menu-item-long-card:hover {
  box-shadow: 5px 5px 5px gray;
  transition: all 0.3s ease;
}
.menu-item-image-container {
  display: grid;
  place-items: center;

    
  padding: 1.5rem;
}

.menu-item-image-container img {
  max-width: 100%;
  /* width: inherit; */
  
  width:100px;
}

.menu-item-about-contianer {
  margin: 10px;
  padding: 3px;
  
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: center;
}
.menu-item-about-title{
margin-bottom:10px

}
.menu-item-about-desc ul{
list-style-type: none;


}
